<label for="graph_point">Pick cells on the graph that you would like to have come to life on your team</label>
        <% i = 0 %>
        <%@graph.each do |x|%>
          <br>
          <%x.each do |cell|%>
            <input type="checkbox" name="grid_<%=i%>" value="<%=[cell.x, cell.y]%>" id="graph_point">
            <%i += 1%>
          <%end%>
        <%end%>
        <br>