<form action="/create" method="POST">
	<label for="game_type">Do you want to watch some random cells or try out some stable configurations?</label>
	<select id="game_type" type="select" name="game_type">
		<option value="random" selected>random cells</option>
		<option value="pulsar">make a pulsar</option>
    <option value="blinker"> make a blinker</option>
	</select>
	<button type="submit" value="Submit">Go!</button>
</form>