<form action="/create" method="POST">
	<label for="game_selector">Do you want to choose your own cells or try out some stable configurations?</label>
	<select id="game_selector" type="select" name="game_type">
		<option value="free_hand" selected>choose your own cells</option>
		<option value="pulsar">make a pulsar</option>
		<option value="glider_gun">fire Katie's Glider Gun</option>
	</select>
	<input type="submit" value="Submit">Go!</input>
</form>