<head>
  <meta  <%= "http-equiv='refresh' content='0.8'" unless @local_game.pause %> >
</head>

<div class="generation_counter">
  <h1>Generation <%= @local_game.tick_count %></h1>
  <br/>
  <a class="back" href = "/new"><%= @local_game.pause ? "Play Again?": "Stop!"  %></a>
</div>

<div id="board_container">
  <% while @row_counter < @local_game.width %>
  <div id="row_container">
    <%@local_game.board[@row_counter].each do |cell|%>
       <div class="cell <%=cell.alive ? "alive" : "dead"%>"></div>
    <%end%>
  </div>
  <%@row_counter += 1%>
  <%end%>
</div>