<!DOCTYPE html>
<html>
  <head>
    <title>Quiz!</title>
  </head>
  <body>
    <%= yield %>
    <% if params.count > 2 %>
      <a href="/quiz"> << Take the Quiz! </a>
    <% end %>
  </body>
</html>