<h1>Quiz</h1>
<form action="/result" method="POST">

<div>
  <br />
<% @quiz.questions.each do |item| %>
<%= item[:name] %>
  <br />
  <select id="choice" name="guess">
    <option value="1">Super-Villain</option>
    <option value="2">Punctuation</option>
  </select>
</div>
  <br />
<% end %>
  <button type="submit" value="Respond">Guess</button>

</form>
