<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>A MrSnickers Production</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <a class="brand" href="#">Home</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="http://bresetwalker.com" target="_blank">Blog</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#gol" class="dropdown-toggle" data-toggle="dropdown">
                      Projects
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#gol">Game of Life</a></li>
                  <li><a href="#playlister">Playlister</a></li>
                  <li><a href="#quiz">Quiz</a></li>
                </ul>
              </li><!-- dropdown -->
            </ul><!-- /.nav -->
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    <div class="notnav">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Game of Life</h1>
              <p>John Conway's Game of Life in full color in your browser.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Check It Out</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mouse Racer</h1>
              <p>Adorable unicode mice race for the cheese.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Hit It!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Punctuation or Supervillian</h1>
              <p>As a wise woman once said: "Pendantry is the gift that keeps on giving."
              </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">To the Quiz!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <a name="about"></a>
    <div class="container_marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img" img src="/img/Twitter_logo_blue.png" alt="The Twitter Logo" height="60" width="60">
          <h2>Twitter</h2>
          <p>Sterling posts at Twitter.com on topics of programming, living in New York, and about not being the giant rabbit that people think she is.</p>
          <p><a class="btn btn-default" href="http://twitter.com/MrSnickers" role="button" target="_blank">View &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <br />
          <img class="img" img src="/img/InBug-60px-TM.png" height="60" width="60" alt="LinkedIn Logo">
          <h2>LinkedIn</h2>
          <p>A professional encapsulation.</p>
          <p><a class="btn btn-default" href="http://www.linkedin.com/in/bresetwalker" role="button" target="_blank">View &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <br />
          <img class="img" img src="/img/GitHub-Mark/PNG/GitHub-Mark-64px.png" height="60" width="60" alt="GitHub Logo">
          <h2>GitHub</h2>
          <p>Sterling keeps her repos here.  There are many projects from her time at the FlatIron School.</p>
          <p><a class="btn btn-default" href="http://github.com/MrSnickers" role="button" target="_blank">View &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <a name="gol"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Conway's Game of Life: <span class="text-muted">In a world...</span></h2>
          <p class="lead">An implementation of Conway's Game of life in which cells age in technicolor.</p>
        </div>
        <div class="col-md-5">
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Check It Out</a></p>
      </div>

      <hr class="featurette-divider">
        <a name="playlister"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Mouse Racer: <span class="text-muted">Just what it sounds like.</span></h2>
          <p class="lead">Help the mouse find the cheese faster.</p>
        </div>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Check It Out</a></p>
      </div>

      <hr class="featurette-divider">
      <a name="quiz"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Punctuation or Supervillian: <span class="text-muted">Can you tell?</span></h2>
          <p class="lead">Best the evil Dr. Octothorpe in this silly online-quiz.</p>
        </div>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Check It Out</a></p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 MrSnickers &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

        <!-- Le javascript by David Cochran at alittleCode.com
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
  </div>
  </body>
</html>