body {
    background-color: white;
}
h1 {
    color: blue;
    font-size: 30px;

}
.board_container {
    color: black;
    font-family: 'Inconsolata', monospace;
    position: relative 0px;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.row-container {
    display: inline-flex;
    font-family: 'Inconsolata', monospace;
    margin: 1 auto;
}
.path {
    display: inline-block;
    margin: auto;
    width: 10px;
    height: 10px;
    background: green;
}
.visited {
    display: inline-block;
    margin: auto;
    width: 10px;
    height: 10px;
    background: red;
}
.open {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: black;
}
.mouse {
    display: inline-block;
    box-shadow: -5;
    margin: auto;
    width: 40px;
    height: 40px;
    background: pink;
}
.wall {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: blue;
}