<h1>GAME!!</h1>


<div id="container">
  <% #Oliver's excellent pixel solution %>
<%@local_game.board.each do |x|%>
        <div class="break"><br></div>
        <%x.each do |cell|%>
                <div class="cell" style="<%=cell.alive ? @blue : @black %>"></div>
        <%end%>
<%end%>
</div>