<h1>GAME!!</h1>


    <% width_counter = 0%>
    <% height_counter = 0%>
    <% red_color = 255%>
    <% green_color = 255%>
    <% blue_color = 0%>
    <% @local_game.board[0].each do |cell| %>
    <%= cell %>
    <% end %>

