!!!
%head
  %link{:href=>"/style.css", :type=>"text/css", :rel=>"stylesheet"}
  -unless @board.solved_by
    %meta{:http=>{:equiv =>"refresh"}, :content=>'0.8'}
  %title Mouse Racer

  %body
    = yield