!!!
%head
  %link{:href=>"/style.css", :type=>"text/css", :rel=>"stylesheet"}
  -unless @board.solved_by
    %meta{:http=>{:equiv =>"refresh"}, :content=>'0.6'}
  %title Mouse Racer

%body

  %h1 MAZE RUNNER

  -if @board.solved_by
    %h1
      - @board.solved_by.personal_marker

  .board_container
    -@row_counter = 0
    - while @row_counter < @board.maze.length
      .row_container
      -@board.maze[@row_counter].each do |square|
        - case
          -when square == @board.open_value
            .position.open
          -when square == @board.mice[0].personal_marker
            .position.one
          -when square == @board.mice[1].personal_marker
            .position.two
          -when square == @board.mice[0].face
            .position.face
          -else
            .position.wall

            
      -@row_counter += 1

  %br
  
  %a{:href=>"/"} Back?