%h1 MAZE RUNNER

%h1 
  ="#{@board.mice[0].squares_visited.inspect}"
  ="#{@board.mice[1].squares_visited.inspect}"
.board_container
  -@row_counter = 0
  - while @row_counter < @board.maze.length
    .row_container
    -@board.maze[@row_counter].each do |square|
      - case
        -when square == @board.open_value
          .position.open
        -when square == @board.mice[0].personal_marker
          .position.one
        -when square == @board.mice[1].personal_marker
          .position.two
        -when square == @board.mice[0].face
          .position.face
        -else
          .position.wall

          
    -@row_counter += 1



    / convert to scss
