%h1 MAZE RUNNER

%h1 
  ="#{@board.mice[0].visited_squares.inspect}"
.board_container
  -@row_counter = 0
  - while @row_counter < @board.maze.length
    .row_container
    -@board.maze[@row_counter].each do |square|
      - case
        -when square == @board.open_value
          .open
        -when square == @board.mice[0].personal_marker
          .path
        -when square == @board.mice[0].face
          .mouse
        -else
          .wall

          
    -@row_counter += 1
