%body
  %h1 MAZE RUNNER
  .board_container
    -@row_counter = 0
    - while @row_counter < @maze.length
      .row_container
      -@maze[@row_counter].each do |square|
        - case
          -when square == "o"
            .path
          -when square == "x"
            .visited
          -when square == " "
            .open
          -else
            .wall
            
            
      -@row_counter += 1
