!!!
%head
  %link{:href=>"/style.css", :type=>"text/css", :rel=>"stylesheet"}
  -unless @board.solved_by
    %meta{:http=>{:equiv =>"refresh"}, :content=>'0.6'}
  %title Mouse Racer

%body

  .board_container
    -@row_counter = 0
    - while @row_counter < @board.maze.length
      .row_container
      -@board.maze[@row_counter].each do |square|
        - case
          -when square == @board.open_value
            .tile.open
          -when square == @board.mice[0].personal_marker
            .tile.one
          -when square == @board.mice[1].personal_marker
            .tile.two
          -when square == @board.mice[0].face
            .tile.face
          -else
            .tile.wall
        
      -@row_counter += 1

    -if @board.solved_by
      .win_notice
        %h1
          = "Mouse #{@board.solved_by.personal_marker} wins!"
        %br
        %a.link{:href=>"/"} Play Again?