%h1 MAZE RUNNER

%h1 
  ="#{@board.mice[0].inspect},  #{@board.mice[1].inspect} "
.board_container
  -@row_counter = 0
  - while @row_counter < @board.maze.length
    .row_container
    -@board.maze[@row_counter].each do |square|
      - case
        -when square == @board.open_value
          .open
        -when square == @board.mice[0].personal_marker
          .path
        -when square == @board.mice[1].personal_marker
          .visited
        -when square == @mouse
          .mouse
        -else
          .wall

          
    -@row_counter += 1
