body {
    background-color: black;
    color: white;
}
h1 {
    color: white;
    font-size: 30px;
}
.generation_counter{
  position: absolute;
  top: 200px;
  left: 0;
}
.board_container {
    position: relative 0px;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.row-container {
    display: inline;
    margin: 1 auto;
    width: 100%;
}
.cell {
    display: inline-block;
    border-radius: 40px;
    margin: auto;
    width: 40px;
    height: 40px;
}
.box{
    display: inline-block;
}


/*background: linear-gradient(135deg, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 43%,rgba(246,41,12,1) 58%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%)*/
