body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 30px;

}
.board_container {
    position: relative 0px;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.row-container {
    display: inline-flex;
    margin: 1 auto;
}
.path {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: green;
}
.visited {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: red;
}
.open {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: black;
}
.wall {
    display: inline-block;
    margin: auto;
    width: 40px;
    height: 40px;
    background: blue;
}