body {
    background-color: black;
    font-family: 'Arapey', serif;
    text-align: center;
    position: relative 0px;
}

h1 {
    color: white;
    font-size: 30px;
}

.win_notice{
  position: absolute;
  top: 200px;
  left: 0;
}

button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 15.5px 31px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 0 auto;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.board_container {
    position: relative 0px;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.row-container {
    display: inline-flex;
    margin: 0 auto;
}
.link{
    color: white;
    font-size: 40px;
    text-align: center;
}
.tile{
    display: inline-block;
    margin: auto;
    width: 60px;
    height: 60px;
}
.one {
    background: purple;

}
.two {
    background: yellow;
}
.open {
    background: black;
}
.face {
    background: white;
}
.wall {
    background: blue;
}