body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 30px;

}
.board_container {
    position: relative 0px;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.row-container {
    display: inline-flex;
    margin: 1 auto;
}
.cell {
    display: inline-block;
    margin: auto;
    background-color: green;
}

