<form action="/update" method="POST">
  <label for="cell_selector">Pick your cells!</label>

<div class="picker">
  <% #Oliver's excellent pixel solution %>
<%@local_game.board.each do |x|%>
        <div class="picker_row"></div>
        <%x.each do |cell|%>
                <div class="box"> <input id="cell[<%=cell.x_coordinate%>][<%=cell.x_coordinate%>]" type="checkbox" name="cell_selector"></div>
        <%end%>
<%end%>
</div>

  <button type="submit" value="Submit">Let's Play!</button>
</form>